@import "bootstrap";

* {
//	background: rgba(0,0,0,.05);
}

.container {
	margin-top: 30px;
	margin-bottom: 30px;
}

figure img, .posters img {
	max-width: 100%;
}

h1, h2, h3 {
    font-weight: 300;
    margin-top: 0;
	line-height: 1.4;
	font-size: floor(($font-size-base * 1.15));
	@media (min-width: $screen-sm-min) {
		font-size: ($font-size-base * 1.5);
	}
}

hr {
	border-top: 1px solid #ccc;
}

.sidebar {
	background: #fff;
	height: 100%;
}

.poster {
    margin: 0 0 30px 0;
    line-height: 20px;
}

.active, header a:hover {
	color: $gray-base;
	font-weight: bold;
}

.bio-photo {
	margin-bottom: 20px;
}

.company {
	@media (min-width: $screen-sm-min) {
		text-align: right;
	}
}

.watch-buttons, .store-links, .company {
	padding-top: 5px;
}

.store-links a {
	white-space: nowrap;
}

// Fitvids

video {
	max-width: 100%;
	height: auto;
}
iframe,
embed,
object {
	max-width: 100%;
}

// Flickity

.gallery {
  margin-bottom: 20px;
}

.gallery-nav .gallery-cell {
  border: 5px solid #fff;
  cursor: pointer;
  margin-right:10px;
}
.gallery-nav .gallery-cell.active {
  border: 5px solid #000;
}