@import "bootstrap";

.row {
	margin: 20px auto;
}

img {
	max-width: 100%;
}

header {
	&, a {color: $gray-light;}
	h1, h2 {
		font-size: $font-size-base;
		padding: 0;
		margin: 0;
		line-height: 20px;
	}
	h1, h2, p {
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.poster {
    margin: 15px 0 15px 0;
    line-height: 20px;
}

.active, header a:hover {
	background: #fff;
	color: $gray-base;
	font-weight: bold;
}

.bio-photo {
	margin-bottom: 20px;
}